.icon-background-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px; /* As per spec, but you might need some padding for spacing */
    gap: 8px; /* This gap won't apply if there's only one child (the icon) */

    /* width: 40px;
    height: 40px;

    background: #ffedd3; */
    border-radius: 1000px;
}
